<%- include("../include/head.ejs") %>
</head>
<body>
    <%- include("../include/admin-navbar.ejs") %>
     <form action="" method="post">
   
        <div class="add-topic">
           
               <div class="input-div">
                    <label for="topic">Add Topic</label>
                    <input type="text" name="topic" id="topic" >
               </div>
               <button class="btn">Submit</button>
        </div>
    </form>
</body>