    <nav class="main-nav">
      <ul class="nav-list">
        <li class="nav-item"><a href="/admin">Quiz With Node</a></li>
        <li class="nav-item"><a href="/admin">Home</a></li>
        <li class="nav-item"><a href="/admin/add-topic">Add Topic</a></li>
        <li class="nav-item"><a href="">Add Question</a></li>
        <li class="nav-item"><a href="/admin/show-topic">Show Topic</a></li>
        <li class="nav-item"><a href="">Show Question</a></li>
      </ul>
    </nav>